body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.search-container {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.search-container button {
    padding: 10px;
    font-size: 16px;
}

.results-container {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

.result {
    margin-top: 10px;
}

@font-face {
    font-family: 'Mongolian Test';
    src: local('Mongolian Test'), url('MAM8102.ttf') format('truetype');
}

.result {
    font-family: Mongolian Test;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: justify;
    margin-bottom: 20px;
}

.ime-toolbar {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
}

.input-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.zuga-jsime {
    font-family: Mongolian Test;
    font-size: 24px;
    writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: justify;
}
